# Python Virtual Environment
venv/
*.pyc
__pycache__/

# Environment Variables File
.env

# OS-specific files
.DS_Store
Thumbs.db

# IDE files
.idea/
.vscode/

# Data files (optional - uncomment if you don't want source data in git)
data/

# Neo4j Docker Volumes (Host Mapped)
neo4j/data/
neo4j/logs/

node_modules/